.centre{
    margin: 0;
}
.textwall{
    max-width: 800px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #232323;
}
.question{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: #52b1d6;
}
.para{
    text-align:justify;
    font-size: large;
    margin: 0;
    margin-bottom: 40px;
    color: #e4fcff;
}
a{
    text-decoration: none;
    color: #b2c0ff;
}