body{
    margin: 0;
}
.body{
    background-color: #191919;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
.headerbar{
    height: 45px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    background-color: #111111;
}
.headerbar::-webkit-scrollbar {
    display: none;
}
.bar1{
    height: 40px;
    display: inline-flex;
    width: 50%;
    padding-left: 5px;
    padding-top: 5px;
}
.bar2{
    height: 40px;
    width: 40%;
}
.home{
    height: 40px;
    width: 320px;
    white-space: nowrap;
}
.hometext{
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 2px;
}
.hometext:hover{
    color: #99fcfc;
}
.searchbox{
    height: 40px;
    width: 100%;
}
.search{
    background-color: #222222;
    width: 80%;
    min-width: 100px;
    height: 35px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    background-image: url(../assets/search.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 8px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 15px;
    font-size: 15px;
    margin-left: 20px;
}
.wlink{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    display: block;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    text-align: center;
    float: right;
}
.barlink a:hover{
    background-color: #222222;
    color: #99fcfc;
}